.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.Active {
  background-color: aqua;
  width: 100px;
  height: 60px;
}

.button {
  width: 100px;
  height: 60px;
}

.column {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}

.column-sum {
  margin: 20px;
  width: 500px;
  font-size: calc(5px + 2vmin);
}

.column-sum > p {
  margin: 0;
  text-align: right;
}

.body {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.header {
  width: 60%;
  font-size: calc(5px + 2vmin);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.input {
  vertical-align: middle;
  zoom: 2;
}

.input-label {
}
